# Task 05 - Part 2 of 2: SQL Aggregations & GROUP BY

**Course:** Database Applications Development  
**Lesson:** 05 - SQL Aggregations, Grouping, and Excel Export (in Part 2) 

---

## Instructions

Complete all exercises in this notebook. You will:
1. Write SQL queries using aggregate functions
2. Use GROUP BY to analyze categories
3. Export 4 query results to Excel files
4. Answer analysis questions

**Resources:**
- Lesson materials (dbApps05_AggregationsGrouping.md)
- Walkthrough notebook (dbApps05_Walkthrough.ipynb)
- SQL Reference Guide (updated with aggregations)

**Submission:**
1. Complete all TODO sections
2. Verify all cells run without errors
3. Check that Excel files were created (in Part 2)
4. Push to GitHub: `databaseApplications/dbApps05TasksPart2.ipynb`

--- 

## Setup

In [1]:
import pandas as pd
import sqlite3

# Connect to database
conn = sqlite3.connect('nba_5seasons.db')
print("✅ Connected to database")

✅ Connected to database

---

## Part 3: HAVING Clause (4 queries)

Practice filtering groups with HAVING.

**Remember:**
- WHERE filters rows BEFORE grouping
- HAVING filters groups AFTER aggregating
- HAVING uses aggregate functions in the condition

### Query 19: High-Scoring Teams

**Task:** Show teams that averaged over 110 points per game in 2021-22.

**Steps:** Fill in the SQL query below by following these steps:

1. **SELECT**
   - Choose the column that represents the team name
   - Calculate the **average points per game**
   - Round the average to **1 decimal place**
   - Give the rounded average a clear alias

2. **FROM**
   - Start with the table that stores **team game stats**
   - Give it a short alias

3. **JOIN**
   - Join the table that stores **team names**
   - Match the team IDs between the two tables

4. **WHERE**
   - Filter the data to **only the 2021–22 season**

5. **GROUP BY**
   - Group the rows so each team appears **once**
   - Include the team ID and team name

6. **HAVING**
   - Keep only teams whose **average points per game** is greater than 110

7. **ORDER BY**
   - Sort teams from **highest to lowest average points**

In [2]:
# TODO: Write your query
query_19 = """
SELECT t.nickname AS team,                -- team name column
       ROUND(AVG(tgs.pts), 1) AS avg_pts  -- average points, rounded to 1 decimal
FROM team_game_stats tgs                  -- table with game-level stats
JOIN teams t ON tgs.team_id = t.team_id   -- match team IDs
WHERE tgs.season = '2021-22'              -- season filter
GROUP BY t.team_id, t.nickname            -- one row per team
HAVING AVG(tgs.pts) > 110                 -- only high-scoring teams
ORDER BY avg_pts DESC;                    -- highest averages first
"""
result_19 = pd.read_sql(query_19, conn)
display(result_19)

            team  avg_pts
0   Timberwolves    115.9
1      Grizzlies    115.6
2          Bucks    115.5
3        Hornets    115.3
4           Suns    114.8
5          Hawks    113.9
6           Jazz    113.6
7          Spurs    113.2
8           Nets    112.9
9        Nuggets    112.7
10        Lakers    112.1
11       Celtics    111.8
12         Bulls    111.6
13        Pacers    111.5
14      Warriors    111.0
15         Kings    110.3
16          Heat    110.0

### Query 20: Winning Teams

**Task:** Show teams that won at least 40 games in 2021-22.

**Steps:** Follow these steps to complete the query:

1. **SELECT**
   - Choose the column that shows the team name
   - Create a new column called `wins`

2. **Counting wins**
   - Use a `CASE` statement to:
     - Return **1** when the game result is a win (`'W'`)
     - Return **0** otherwise
   - Use `SUM()` to add up those 1s and 0s to get total wins

3. **FROM**
   - Start with the table that contains **one row per game per team**
   - Give it a short alias

4. **JOIN**
   - Join the table that contains **team names**
   - Match both tables using the team ID

5. **WHERE**
   - Filter to only games from the **2021–22 season**

6. **GROUP BY**
   - Group the rows so each team appears **once**

7. **HAVING**
   - Keep only teams with **40 or more wins**

8. **ORDER BY**
   - Sort teams from **most wins to fewest wins**

In [3]:
# TODO: Write your query
query_20 = """
SELECT t.nickname AS team,
       SUM(CASE WHEN tgs.wl = 'W' THEN 1 ELSE 0 END) AS wins
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2021-22'
GROUP BY t.team_id, t.nickname
HAVING wins >= 40
ORDER BY wins DESC;
"""

result_20 = pd.read_sql(query_20, conn)
display(result_20)

            team  wins
0           Suns    64
1      Grizzlies    56
2       Warriors    53
3           Heat    53
4      Mavericks    52
5        Celtics    51
6          Bucks    51
7          76ers    51
8           Jazz    49
9        Nuggets    48
10       Raptors    48
11         Bulls    46
12  Timberwolves    46
13     Cavaliers    44
14          Nets    44
15         Hawks    43
16       Hornets    43
17      Clippers    42

### Query 21: Full Season Teams

**Task:** Show only teams that played at least 70 games in 2021-22.

**Steps:** Complete the SQL query below by following these steps:

1. **SELECT**
   - Choose the column that shows the team name
   - Count how many rows (games) belong to each team
   - Give the count a clear alias

2. **FROM**
   - Start with the table that contains **one row per game per team**
   - Give it a short alias

3. **JOIN**
   - Join the table that contains **team names**
   - Match the two tables using the team ID

4. **WHERE**
   - Filter the data to **only the 2021–22 season**

5. **GROUP BY**
   - Group rows so each team appears **once**

6. **HAVING**
   - Keep only teams that played **70 or more games**

7. **ORDER BY**
   - Sort teams from **most games played to fewest**

In [ ]:
# TODO: Write your query
query_21 = """
SELECT
  t.__________ AS team,                 -- team name
  COUNT(*) AS _____________             -- count of games
FROM _____________ tgs                  -- game-level stats table
JOIN _____ t 
  ON tgs._______ = t._______            -- match team IDs
WHERE tgs.season = '________'           -- season filter
GROUP BY t._______, t.__________         -- one row per team
HAVING _____________ >= __               -- minimum games played
ORDER BY _____________ DESC;             -- most games first
"""

result_21 = pd.read_sql(query_21, conn)
display(result_21)

### Query 22: States with Multiple Teams

**Task:** Show states that have more than 2 NBA teams.

**Steps:** ### Goal: Find states that have more than 2 NBA teams

Follow these steps to complete the query:

1. **SELECT**
   - Choose the column that represents the state
   - Count how many teams are in each state
   - Give the count a clear alias

2. **FROM**
   - Use the table that stores team information

3. **GROUP BY**
   - Group the rows so each state appears once

4. **HAVING**
   - Keep only states with **more than 2 teams**

5. **ORDER BY**
   - Sort states by:
     - Number of teams (highest first)
     - Then alphabetically by state

In [ ]:
# TODO: Write your query
query_22 = """
SELECT
  __________ AS state,                  -- state name
  COUNT(*) AS _____________             -- number of teams in the state
FROM __________                           -- teams table
GROUP BY __________                      -- one row per state
HAVING _____________ > __                -- minimum number of teams
ORDER BY _____________ DESC, __________; -- sort by count, then state
"""

result_22 = pd.read_sql(query_22, conn)
display(result_22)

---

## Part 4: Export Queries to Excel (4 exports)

You will export 4 different query results to Excel files. These files will be used in the Excel task.

**Export Guidelines:**
- Use descriptive filenames
- Set index=False
- Use meaningful sheet names
- Verify files are created before submitting

### Export 1: Team Performance Summary - The code is provided, you just have to run it!

**Task:** Export comprehensive team statistics for all teams in 2024-25.

**Include:** team name, city, games played, wins, losses, avg points, season high

**Export to:** `team_performance.xlsx`

In [ ]:
# TODO: Write query for team performance
query_export_1 = """
SELECT 
    t.full_name AS team,
    t.city,
    t.state,
    COUNT(tgs.game_id) AS games_played,
    ROUND(AVG(tgs.pts), 1) AS avg_points,
    MIN(tgs.pts) AS season_low,
    MAX(tgs.pts) AS season_high
FROM teams t
JOIN team_game_stats tgs ON t.team_id = tgs.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name, t.city, t.state
ORDER BY avg_points DESC
"""

# Execute and export
export_1 = pd.read_sql(query_export_1, conn)

# Display what we're exporting
print("Team Performance Data:")
display(export_1.head())

# Export to Excel
export_1.to_excel('team_performance.xlsx', index=False, sheet_name='Team Stats')
print("✅ Exported to team_performance.xlsx")

### Export 2: Top Scorers - The code is provided, you just have to run it!

**Task:** Export the top 50 scoring players from 2024-25.

**Include:** player name, team name, games played, total points, points per game

**Filter:** Only players who played at least 20 games

**Export to:** `top_scorers.xlsx`

In [ ]:
# TODO: Write query for top scorers
query_export_2 = """
SELECT
    p.full_name AS player_name,
    t.full_name AS team_name,
    ps.gp AS games_played,
    ROUND(ps.pts / ps.gp, 1) AS points_per_game,
    ps.pts AS total_points
FROM player_season_stats ps
JOIN players p ON ps.player_id = p.player_id
JOIN teams t   ON ps.team_id = t.team_id
WHERE ps.season = '2024-25'
  AND ps.gp >= 20
ORDER BY total_points DESC
LIMIT 50
"""

export_2 = pd.read_sql(query_export_2, conn)
print("Top Scorers Data:")
display(export_2.head(10))

export_2.to_excel('top_scorers.xlsx', index=False, sheet_name='Scoring Leaders')
print("✅ Exported to top_scorers.xlsx")

### Export 3: Win-Loss Records - The code is provided, you just have to run it!

**Task:** Export win-loss records for all teams in 2024-25.

**Include:** team name, games played, wins, losses, win percentage (calculated)

**Sort by:** Most wins first

**Export to:** `win_loss_records.xlsx`

In [ ]:
# TODO: Write query for win-loss records
query_export_3 = """
SELECT
    t.full_name AS team_name,
    COUNT(tgs.game_id) AS games_played,
    SUM(CASE WHEN tgs.wl = 'W' THEN 1 ELSE 0 END) AS wins,
    SUM(CASE WHEN tgs.wl = 'L' THEN 1 ELSE 0 END) AS losses
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
GROUP BY t.team_id, t.full_name
ORDER BY wins DESC
"""

export_3 = pd.read_sql(query_export_3, conn)
export_3['win_pct'] = (export_3['wins'] / export_3['games_played'] * 100).round(1)

print("Win-Loss Records:")
display(export_3.head(10))

export_3.to_excel('win_loss_records.xlsx', index=False, sheet_name='Records')
print("✅ Exported to win_loss_records.xlsx")

### Export 4: High-Scoring Games - The code is provided, you just have to run it!

**Task:** Export all games where a team scored 120+ points in 2024-25.

**Include:** team name, game date, opponent (from matchup), points scored, win/loss

**Sort by:** Points scored (highest first)

**Export to:** `high_scoring_games.xlsx`

In [ ]:
# TODO: Write query for high-scoring games
query_export_4 = """
SELECT
    t.full_name AS team_name,
    tgs.game_date,
    tgs.matchup AS opponent,
    tgs.pts AS points_scored,
    tgs.wl AS win_loss
FROM team_game_stats tgs
JOIN teams t ON tgs.team_id = t.team_id
WHERE tgs.season = '2024-25'
  AND tgs.pts >= 120
ORDER BY tgs.pts DESC, tgs.game_date ASC
"""

export_4 = pd.read_sql(query_export_4, conn)
print("High-Scoring Games (120+ points):")
display(export_4.head(10))

export_4.to_excel('high_scoring_games.xlsx', index=False, sheet_name='High Scores')
print("✅ Exported to high_scoring_games.xlsx")

---

## Verification Checklist

Before submitting, verify:

- [ ] All queries completed and working
- [ ] All Excel files created successfully
- [ ] All analysis questions answered
- [ ] All cells run without errors
- [ ] Meaningful column names used (AS aliases)
- [ ] Saved as `dbApps05Tasks_Part1.ipynb` and `dbApps05Tasks_Part2.ipynb`

**Excel files that should exist:**
1. team_performance.xlsx
2. top_scorers.xlsx
3. win_loss_records.xlsx
4. high_scoring_games.xlsx

**Next:** Open these files in the Excel task!

---

## Clean Up

In [71]:
# Close database connection
conn.close()
print("✅ Connection closed")
print("\nGreat work! Ready for the Excel task.")

✅ Connection closed

Great work! Ready for the Excel task.