In [1]:
print("Hello, World")

Hello, World

In [5]:
name = "Luke"
print(type(name)) # find type of variable
print(name) # print the variable

<class 'str'>
Luke

In [4]:
name = "Luke"
print(name) # print the variable

Luke

In [7]:
passenger_name = "John Smith"

# Integer
passenger_class = 3

# Float
ticket_fare = 7.25

# Boolean
survived = True

# Print everything
print("Passenger:", passenger_name)
print("Class:", passenger_class)
print("Fare: $", ticket_fare)
print("Survived:", survived)

Passenger: John Smith
Class: 3
Fare: $ 7.25
Survived: True

In [11]:
# Concatenation (joining strings)
first_name = "Luke"
last_name = "Sprecher"
full_name = first_name + " " + last_name
print(full_name)  # Luke Sprecher

# Repetition
line = "-" * 40
print(line)  # ----------------------------------------

# String length
name = "Luke"
print(len(name))  # 4

Luke Sprecher
----------------------------------------
4

In [16]:
# Simple print
print("Hello World")

# Multiple items (separated by commas)
print("Name:", "Luke", "Age:", 17)

# Variables
score = 97
print("Your score is:", score)

# Formatted strings (f-strings)
name = "Luke"
grade = 97
print(f"{name} earned a grade of {grade}%")

Hello World
Name: Luke Age: 17
Your score is: 97
Luke earned a grade of 97%

In [18]:
# Import a library
import pandas as pd
import sqlite3

# Use library functions
# We'll use pandas to work with data
# We'll use sqlite3 to work with databases