In [1]:
print("Hello, World")

Hello, World

In [5]:
name = "Luke"
print(type(name)) # find type of variable
print(name) # print the variable

<class 'str'>
Luke

In [4]:
name = "Luke"
print(name) # print the variable

Luke

In [7]:
passenger_name = "John Smith"

# Integer
passenger_class = 3

# Float
ticket_fare = 7.25

# Boolean
survived = True

# Print everything
print("Passenger:", passenger_name)
print("Class:", passenger_class)
print("Fare: $", ticket_fare)
print("Survived:", survived)

Passenger: John Smith
Class: 3
Fare: $ 7.25
Survived: True

In [11]:
# Concatenation (joining strings)
first_name = "Luke"
last_name = "Sprecher"
full_name = first_name + " " + last_name
print(full_name)  # Luke Sprecher

# Repetition
line = "-" * 40
print(line)  # ----------------------------------------

# String length
name = "Luke"
print(len(name))  # 4

Luke Sprecher
----------------------------------------
4

In [16]:
# Simple print
print("Hello World")

# Multiple items (separated by commas)
print("Name:", "Luke", "Age:", 17)

# Variables
score = 97
print("Your score is:", score)

# Formatted strings (f-strings)
name = "Luke"
grade = 97
print(f"{name} earned a grade of {grade}%")

Hello World
Name: Luke Age: 17
Your score is: 97
Luke earned a grade of 97%

In [18]:
# Import a library
import pandas as pd
import sqlite3

# Use library functions
# We'll use pandas to work with data
# We'll use sqlite3 to work with databases

In [20]:
import pandas as pd

# Load a CSV file
data = pd.read_csv("Titanic_Dataset.csv")

# Look at first few rows
print(data.head())

# Get basic information
print(data.info())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB
None